<nav class="navbar navbar-inverse navbar-embossed navbar-static-top" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
      <span class="sr-only">Davakhana</span>
    </button>
    <a class="navbar-brand" href="#">Flat UI</a>
  </div>
    <% if user_signed_in? %>
  <div class="collapse navbar-collapse" id="navbar-collapse-01">
    <ul class="nav navbar-nav">
      <li class="<%= 'active' if current_page?(patients_path) %>">
      <%= link_to  patients_path do %>
        <span class="fui-user"> Patients</span>
      <% end %>
      </li>
      <li class="<%= 'active' if current_page?(today_appointments_path) %>">
      <%= link_to  today_appointments_path do %>
        <span class="fui-calendar-solid"> Appointments</span>
      <% end %>
      </li>
    </ul>
      <% end %>

    <div class="navbar-form navbar-right">
    <ul class="nav navbar-nav">
    <% if user_signed_in? %>
    <li>
      <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
      </li>
    <% else %>
          <li>
        <%= link_to('Login', new_user_session_path)  %>
        </li>
      <% end %>

    </ul>
    </div>
  </div><!-- /.navbar-collapse -->
</nav><!-- /navbar -->
