<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Patient Info</h3>
  </div>
  <div class="panel-body">
    <p>
      <strong>First name:</strong>
      <%= patient.first_name %>
    </p>

    <p>
      <strong>Last name:</strong>
      <%= patient.last_name %>
    </p>

    <p>
      <strong>Address1:</strong>
      <%= patient.address1 %>
    </p>

    <p>
      <strong>Address2:</strong>
      <%= patient.address2 %>
    </p>

    <p>
      <strong>City:</strong>
      <%= patient.city %>
    </p>

    <p>
      <strong>Phone1:</strong>
      <%= patient.phone1 %>
    </p>

    <p>
      <strong>Phone2:</strong>
      <%= patient.phone2 %>
    </p>

    <p>
      <strong>Date of birth:</strong>
      <%= patient.date_of_birth %>
    </p>

  </div>
</div>
