<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>City</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.full_name %></td>
        <td><%= patient.city %></td>
        <td>
          <%= link_to [patient, :appointments], class: 'btn', method: :post, data: { confirm: "Do you want add an appointment today?" } do %>
            <span class="fui-calendar-solid"></span>
          <% end %>
        </td>
        <td>
          <%= link_to patient, class: 'btn' do %>
            <span class="fui-new"></span>
          <% end %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @patients %>
