<%= image_tag("doctorphoto.jpg", size: "180") %>
<%= image_tag("doctorphoto.jpg", size: "180") %>
<%= image_tag("doctorphoto.jpg", size: "200") %>
<%= image_tag("doctorphoto.jpg", size: "200") %>
<%= image_tag("doctorphoto.jpg", size: "180") %>
<%= image_tag("doctorphoto.jpg", size: "180") %>


    <pre align="center">

        <font face="verdana" color="green">
          <h4> Innovation in transparent health care delivery.</h4>
          <h3> Mana Davakhana </h3>
          <font face="arial" color="#556b2f">
          <h6> It is all about automating appointments
  appointment history storage and retrieval
      and facilitating stake holders for smooth delivery of health care. </h6>
        </font>
            </font>
    </pre>
