<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @hospital.name %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @hospital.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @hospital.address2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @hospital.city %>
</p>

<p>
  <strong>Phone1:</strong>
  <%= @hospital.phone1 %>
</p>

<p>
  <strong>Phone2:</strong>
  <%= @hospital.phone2 %>
</p>

<%= link_to 'Edit', edit_hospital_path(@hospital) %> |
<%= link_to 'Back', hospitals_path %>
