<div class="row">
  <div class="col-sm-10">
    <%= form_for(@appointment, url: [@appointment], html: { multipart: true }) do |f| %>
      <% if @appointment.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

          <ul>
            <% @appointment.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="col-sm-10">
        <div class="form-group">
          <%= f.text_field :blood_pressure, class: 'form-control', placeholder: 'Blood Pressure' %>
        </div>
      </div>
      <div class="col-sm-10">
        <div class="form-group">
          <%= f.text_field :weight_in_kgs, class: 'form-control', placeholder: 'Weight' %>
        </div>
      </div>
      <div class="col-sm-10">
        <div class="form-group">
          <%= f.text_field :height_in_cms, class: 'form-control', placeholder: 'Height' %>
        </div>
      </div>

      <div class="col-sm-10">
        <div class="form-group">
          <%= f.text_area :issue, class: 'form-control', placeholder: 'Medical Issue' %>
        </div>
      </div>

      <div class="col-sm-10">
        <div class="form-group">
          <%= f.text_area :prescription, class: 'form-control', placeholder: 'Prescription' %>
        </div>
      </div>

      <div class="col-sm-10">
        <div class="form-group">
          <%= f.text_area :notes, class: 'form-control', placeholder: 'Notes' %>
        </div>
      </div>

      <%= f.fields_for :attachments do |p| %>
        <div class="field">
          <%= p.file_field :file, :multiple => true %>
        </div>
      <% end %>

      <div class="col-sm-10">
        <div class="form-group">
          <%= f.submit class: 'btn btn-primary' %>
          <%= link_to 'Cancel', @appointment.patient , class: 'btn btn-danger' %>
        </div>
      </div>
      <% end %>

  </div>
</div>
