<div class="row">
<<<<<<< HEAD
    <div class="col-md-7">
    <%= form_for(@appointment, html: { multipart: true }) do |f| %>
>>>>>>> 6736dd8fbfec941834d32be948f59ee25cc65b0a
      <% if @appointment.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

          <ul>
            <% @appointment.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="col-sm-10">
        <div class="form-group">
          <%= f.text_field :blood_pressure, class: 'form-control', placeholder: 'Blood Pressure' %>
        </div>
      </div>
      <div class="col-sm-10">
        <div class="form-group">
          <%= f.text_field :weight_in_kgs, class: 'form-control', placeholder: 'Weight' %>
        </div>
      </div>
      <div class="col-sm-10">
        <div class="form-group">
          <%= f.text_field :height_in_cms, class: 'form-control', placeholder: 'Height' %>
        </div>
      </div>

      <div class="col-sm-10">
        <div class="form-group">
          <%= f.text_area :issue, class: 'form-control', placeholder: 'Medical Issue' %>
        </div>
      </div>

      <div class="col-sm-10">
        <div class="form-group">
          <%= f.text_area :prescription, class: 'form-control', placeholder: 'Prescription' %>
        </div>
      </div>

      <div class="col-sm-10">
        <div class="form-group">
          <%= f.text_area :notes, class: 'form-control', placeholder: 'Notes' %>
        </div>
      </div>

      <div class="col-sm-10">
        <div class="form-group">
          <%= f.submit class: 'btn btn-primary' %>
        </div>
      </div>
      <% end %>

      <div class="col-sm-10">
        <div class="form-group">
          <%= direct_upload_form_for @file do |f| %>
            <%= f.file_field :file, class: 'form-control' %>
            <%= f.submit("Add document", class: 'btn btn-primary') %>
          <% end %>
        </div>
      </div>
  </div>
  <div class="col-md-4">
    <%= link_to @appointment.patient, class: 'btn' do %>
        <span class="fui-user">
          <%= @appointment.patient.full_name%> Info
        </span>
      <% end %>
  <% @appointment.attachments.in_groups_of(4).each do | group | %>
    <% group.compact.each do | attachment | %>
        <%= image_tag attachment.document.url,  class: "img-thumbnail" %>
    <% end %>
  <% end %>

  </div>
</div>
