<p id="notice"><%= notice %></p>

<p>
  <strong>Starts at:</strong>
  <%= @appointment.starts_at %>
</p>

<p>
<p>
<%= direct_upload_form_for @file do |f| %>
  <%= f.file_field :file %>
  <%= f.submit %>
<% end %>

<strong>Patient:</strong>
  <%= @appointment.patient %>
</p>
<% @appointment.attachments.each do | attachment | %>
  <%= image_tag attachment.document_url, width: 100, height: 100 %>
<% end %>


<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
